/**
 * CSE131
 * Created by Saurabh Sharma and Mustafa Sidiqi on 4/7/15.
 * Copyright (c) 2015. All rights reserved.
 */
function : void foo() {
    float x_float = 1.0;
    x_float--;
    --x_float;

    int x = 1;
    x--;
    --x;
}




