/**
 * CSE131
 * Created by Saurabh Sharma and Mustafa Sidiqi on 4/7/15.
 * Copyright (c) 2015. All rights reserved.
 */
function : void illegal_type_mismatch() {
    int int_val = 1;
    float float_val;
    int_val = float_val;  // error
    
    bool bool_val = true;
    int_val = float_val;  // error
    int_val = bool_val;   // error
    float_val = bool_val; // error
    int_val = float_val = bool_val; // error
    
    
    float_val = bool_val = int_val; // error
    
}