/**
 * CSE131
 * Created by Saurabh Sharma and Mustafa Sidiqi on 4/7/15.
 * Copyright (c) 2015. All rights reserved.
 */
function : void illegal_assignments() {
     1 = 2;
     const int temp = 1;
     temp = 2;

     1 = (2 + 3);

     1 = 2 = 3 = 4;
     1 = (2 + 3);
     temp = (2 + 3);

     int temporary = 1 = 2 = 3;
     int temporary2 = 1;
     temporary = temporary2 = 2 = 3 = temporary1;
 }